@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
#main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 1rem;
}
#main-grid header {
  grid-column: 1/2;
  grid-row: 1/2;
}
#main-grid main {
  grid-column: 1/2;
  grid-row: 2/3;
}
#main-grid main #product-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  max-width: 480px;
  margin: 0 auto;
}
#main-grid main #product-pictures #product-main-pic {
  grid-column: 1/4;
  grid-row: 1/4;
}
#main-grid main #product-pictures #product-secondary-pic-1 {
  grid-column: 1/2;
  grid-row: 4/5;
}
#main-grid main #product-pictures #product-secondary-pic-2 {
  grid-column: 2/3;
  grid-row: 4/5;
}
#main-grid main #product-pictures #product-secondary-pic-3 {
  grid-column: 3/4;
  grid-row: 4/5;
}
#main-grid main .form-table-payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
}
#main-grid main .form-table-payment #ftp-id-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
#main-grid main .form-table-payment #ftp-id-2 {
  grid-column: 1/3;
  grid-row: 2/3;
}
#main-grid main .form-table-payment #ftp-id-3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
#main-grid main .form-table-payment #ftp-id-4 {
  grid-column: 2/3;
  grid-row: 3/4;
}
#main-grid main .form-table-payment #ftp-id-5 {
  grid-column: 1/3;
  grid-row: 4/5;
}
#main-grid main .form-table-payment #ftp-id-6 {
  grid-column: 1/3;
  grid-row: 5/6;
}
#main-grid main .form-table-payment #ftp-id-7 {
  grid-column: 1/3;
  grid-row: 6/7;
}
#main-grid main .form-table-payment #ftp-id-8 {
  grid-column: 1/3;
  grid-row: 7/8;
}
#main-grid aside {
  grid-column: 1/2;
  grid-row: 3/4;
}
#main-grid footer {
  grid-column: 1/2;
  grid-row: 4/5;
}

@media only screen and (min-width: 680px) {
  #main-grid {
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
  #main-grid header {
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
  }
  #main-grid header #search-area {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #main-grid header #nav-menu {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #main-grid header #nav-icons {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  #main-grid #main-index, #main-grid #main-product {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  #main-grid #main-checkout {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #main-grid main .form-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }
  #main-grid main .form-table #form-id-0 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #main-grid main .form-table #form-id-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #main-grid main .form-table #form-id-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #main-grid main .form-table #form-id-3 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  #main-grid main .form-table #form-id-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  #main-grid main .form-table #form-id-5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  #main-grid aside {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  #main-grid footer {
    grid-column: 1/4;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #main-grid footer #footer-start {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  #main-grid footer #contact {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #main-grid footer #shortcuts {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #main-grid footer #social-media {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px 15px;
}

h2 {
  margin-bottom: 1rem;
}

h3, h4 {
  margin: 0 0 0.5rem;
}

h4 {
  font-weight: normal;
}

h5 {
  font-size: 19px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

header a {
  text-decoration: none;
  color: #000;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

footer section {
  margin-bottom: 20px;
}

address {
  font-style: normal;
}

main section {
  margin-bottom: 2.5rem;
}

#logo {
  font-size: 2rem;
  font-weight: bold;
}

#banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(189, 189, 189);
  text-align: right;
  margin: 1rem;
  gap: 1rem;
  padding: 30px;
  justify-content: flex-end;
  align-items: flex-end;
}

#banner a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  background-color: rgb(247, 247, 247);
  padding: 1rem;
}

#popular-products, #popular-categories, #reviews, #similar-products-display {
  gap: 1rem;
  width: 100%;
}
#popular-products h2, #popular-categories h2, #reviews h2, #similar-products-display h2 {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 2rem;
}
#popular-products p, #popular-categories p, #reviews p, #similar-products-display p {
  margin-top: 0;
  width: 100%;
}

#popular-categories {
  gap: 4px;
  max-width: 100%;
}

#contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

#shortcuts {
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.2rem;
}
#shortcuts a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

#social-media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#social-media ul {
  list-style: none;
  padding-left: 0;
}
#social-media ul li {
  margin-bottom: 10px;
}

#product-display {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
#product-display img {
  display: inline-block;
  width: auto;
  max-height: 400px;
  max-width: 100%;
}
#product-display h2, #product-display p {
  margin: 7px 0;
}
#product-display a {
  color: rgb(87, 85, 85);
}

#similar-products-display {
  margin: 20px;
}
#similar-products-display a {
  text-decoration: none;
}

#information-page {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
#information-page a {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

#delivery-form {
  width: 100%;
}
#delivery-form form ul {
  list-style: none;
  padding: 0;
}
#delivery-form form ul li {
  font-weight: bold;
  margin: 0 1rem 2rem;
}
#delivery-form p {
  font-weight: normal;
  color: gray;
}

#form-newsletter {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#search-area {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: 22px;
  padding: 6px;
  width: 200px;
  border-radius: 22px;
  border-color: #000;
  border-style: solid;
  border-width: 0.7px;
}

#search-area button {
  background: none;
  border: none;
}

#search-area input {
  border-style: none;
  width: 100%;
}

#search-area input:focus {
  outline: none;
}

#nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  gap: 0.5rem;
  margin: 0;
}
#nav-menu ul {
  padding: 0;
}
#nav-menu li {
  list-style: none;
  margin: 15px;
}

#nav-menu a {
  padding: 6px;
}

#nav-icons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
#nav-icons li {
  list-style: none;
}

#nav-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#nav-icons ul li {
  list-style: none;
}

#nav-icons li a {
  padding: 4px;
}

#reviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}
#reviews p {
  margin-bottom: 0;
}
#reviews ul {
  margin-top: 0;
}
#reviews img {
  border-radius: 100%;
}

#product-pictures {
  width: 100%;
  margin: 0;
  gap: 0.2rem;
  max-width: 700px;
}

#product-main-pic {
  margin: 0;
  padding: 0;
  max-width: 480px;
}
#product-main-pic img {
  height: 100%;
  width: 100%;
}

#shopping-cart {
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 95%;
}
#shopping-cart h2 {
  width: 100%;
}

#product-info-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.3rem;
}

.bold-text {
  font-weight: bold;
}

.btn {
  display: inline-block;
  background-color: #2e2c2c;
  color: white;
  padding: 1rem;
  text-decoration: none;
  box-sizing: border-box;
}

.block-btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  box-sizing: border-box;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.flex-space {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-space .btn {
  align-self: flex-start;
  width: auto;
}

.product-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  gap: 1rem;
}

.product-btn {
  display: inline-block;
  color: #000;
  text-decoration: none;
  background-color: white;
  padding: 1rem 3rem;
  border-color: #000;
  border-style: solid;
  border-width: 0.5px;
}

.product-container, .cart-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  text-decoration: none;
  color: #000;
}
.product-container picture, .cart-product picture {
  display: block;
  max-width: 350px;
  max-height: 450px;
}
.product-container img, .cart-product img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  max-width: 350px;
  max-height: 450px;
  height: auto;
  border-radius: 15px;
}

.product-container {
  margin: 0 auto 1rem;
  max-width: 350px;
  justify-content: space-between;
}
.product-container h3 {
  text-align: start;
}
.product-container h4 {
  text-align: end;
}
.product-container h3, .product-container h4 {
  margin: 0;
  padding: 0;
  width: 47%;
}

.cart-product {
  flex-direction: column;
  align-items: left;
}
.cart-product input {
  max-width: 33px;
  padding: 5px;
}

.cart-product h3 {
  margin: 10px 0 0;
}

.category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 386px;
  height: 300px;
  border-style: solid;
  border-color: #000;
  border-width: 0.5px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-size: cover;
}
.category-container h3 {
  border: 1px solid rgb(51, 51, 51);
  padding: 5px;
  background-color: rgb(51, 51, 51);
}

#category-1 {
  /*Image by <a href="https://pixabay.com/users/lalmch-1026205/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=767781">Lalmch</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=767781">Pixabay</a>*/
  background-image: url("../img/categories/category1.jpg");
}

#category-2 {
  /*Image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1868496">Pexels</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1868496">Pixabay</a>*/
  background-image: url("../img/categories/category2.jpg");
}

#category-3 {
  /*Image by <a href="https://pixabay.com/users/jeshoots-com-264599/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=410324">Jan Vašek</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=410324">Pixabay</a>*/
  background-image: url("../img/categories/category3.jpg");
}

#category-4 {
  /*Image by <a href="https://pixabay.com/users/wikimediaimages-1185597/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2202637">WikimediaImages</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2202637">Pixabay</a>*/
  background-image: url("../img/categories/category4.jpg");
  background-position: center;
}

#category-5 {
  /*Image by <a href="https://pixabay.com/users/freephotocc-2275370/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280538">Free Photos</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280538">Pixabay</a>*/
  background-image: url("../img/categories/category5.jpg");
  background-position: right;
}

.review-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 289px;
  gap: 1rem;
}
.review-container img {
  height: 150px;
  width: 150px;
  /*https://stackoverflow.com/questions/2623603/crop-an-image-instead-of-stretching-it*/
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-line {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.contact-line i {
  width: 20px;
}
.contact-line p {
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  width: 100%;
}

.breadcrumbs ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem 0.1rem;
  gap: 0.5rem;
}

.breadcrumbs ul li a {
  text-decoration: none;
  color: #000;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

#product-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  gap: 0.5rem;
  max-width: 440px;
  width: 100%;
  align-self: center;
}
#product-info h2, #product-info a, #product-info p {
  width: 100%;
}
#product-info .btn {
  flex-grow: 1;
}

.similar-product {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.similar-product img {
  max-width: 450px;
  min-width: 200px;
  height: auto;
  width: 100%;
}

.similar-product h2 {
  width: 50%;
}

.similar-product p {
  width: 50%;
  align-content: center;
  text-align: end;
}

.form-table, .form-table-payment, .form-table-extra {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  width: 100%;
  max-width: 100%;
  gap: 1rem;
}
.form-table .btn, .form-table-payment .btn, .form-table-extra .btn {
  width: 100%;
  text-align: center;
}
.form-table a, .form-table-payment a, .form-table-extra a {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.form-table input, .form-table-payment input, .form-table-extra input {
  width: 100%;
  padding: 20px;
  margin: 3px 0 10px 0;
  font-size: 16px;
  box-sizing: border-box;
}

.form-table-payment #ftp-id-5, .form-table-payment #ftp-id-6, .form-table-payment #ftp-id-7, .form-table-payment #ftp-id-8 {
  text-align: center;
}
.form-table-payment #ftp-id-6 {
  margin: 0;
  font-size: 26px;
  font-weight: 900;
}

.product-reviews {
  display: flex;
  flex-direction: column;
}
.product-reviews ul {
  padding: 0;
}
.product-reviews ul li {
  list-style: none;
  display: inline-block;
  font-weight: bold;
}

.secondary-pic {
  max-width: 160px;
}

.dropdown-menu {
  width: 100%;
  padding: 10px;
}

.dropdown-menu-small {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
}

.shoppingbag-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
}

.shoppingbag-icons {
  display: flex;
  flex-direction: row;
}
.shoppingbag-icons a {
  text-decoration: none;
  color: #000;
  font-size: large;
  padding: 0.5rem;
}

@media only screen and (max-width: 525px) {
  .product-btn {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 680px) {
  header ul li {
    display: inline-block;
    margin: auto;
  }
  main {
    margin: 0;
  }
  #search-area {
    width: auto;
    max-width: 200px;
  }
  #nav-menu {
    flex-direction: row;
    margin: 0 auto;
  }
  #contact {
    align-content: start;
  }
  #shortcuts {
    align-content: center;
  }
  #social-media {
    align-content: end;
  }
  #social-media ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #reviews {
    flex-direction: row;
    gap: 0.5rem;
  }
  #product-pictures {
    width: 40%;
    margin: 0;
    gap: 0.2rem;
  }
  #product-display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  #product-info {
    width: 40%;
    margin: 0;
    margin-left: 40px;
  }
  .flex-space {
    flex-direction: row;
  }
  .product-sort {
    justify-content: start;
    padding: 5px;
    gap: 1rem;
    width: 100%;
  }
  #delivery-form {
    flex-direction: column;
  }
  #category-4 {
    max-width: 864px;
  }
  #category-5 {
    max-width: 300px;
  }
  .cart-product {
    flex-direction: row;
    width: 100%;
  }
  .cart-product .cart-info {
    align-self: center;
  }
  .shoppingbag-icons {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */