@mixin grid-placement($column, $row){
    grid-column: #{$column};
    grid-row: #{$row};
}

#main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 3rem;

    header {
        @include grid-placement("1/2", "1/2");
    }

    main {
        @include grid-placement("1/2", "2/3");

        /* -------------- GAMLE TYPEN -----------------
        #product-pictures {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto;
            max-width: 480px;
            margin: 0 auto;

            #product-main-pic {
                @include grid-placement("1/4", "1/4");
            }

            #product-secondary-pic-1{
                @include grid-placement("1/2", "4/5");
            }

            #product-secondary-pic-2{
                @include grid-placement("2/3", "4/5");
            }

            #product-secondary-pic-3{
                @include grid-placement("3/4", "4/5");
            }
        }
        */

        #product-pictures {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            gap: 1rem;

            max-height: 550px;
            

            #product-main-pic {
                @include grid-placement("2/4", "1/4");
            }

            #product-secondary-pic-1{
                @include grid-placement("1/2", "1/2");
            }

            #product-secondary-pic-2{
                @include grid-placement("1/2", "2/3");
            }

            #product-secondary-pic-3{
                @include grid-placement("1/2", "3/4");
            }
        }

        .form-table-payment {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(8, auto);

            #ftp-id-1 {
                @include grid-placement("1/3", "1/2");
            }

            #ftp-id-2 {
                @include grid-placement("1/3", "2/3");
            }

            #ftp-id-3 {
                @include grid-placement("1/3", "3/4");
            }

            #ftp-id-4 {
                @include grid-placement("1/3", "4/5");
            }

            #ftp-id-5 {
                @include grid-placement("1/3", "5/6");
            }

            #ftp-id-6 {
                @include grid-placement("1/3", "6/7");
            }

            #ftp-id-7 {
                @include grid-placement("1/3", "7/8");
            }

            #ftp-id-8 {
                @include grid-placement("1/3", "8/9");
            }
        }

        #category-grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);

            #category-1 {
                @include grid-placement("1/2", "1/2");
            }

            #category-2 {
                @include grid-placement("1/2", "2/3");
            }

            #category-3 {
                @include grid-placement("1/2", "3/4");
            }

            #category-4 {
                @include grid-placement("1/2", "4/5");
            }

            #category-5 {
                @include grid-placement("1/2", "5/6");
            }
        }
    }

    aside {
        @include grid-placement("1/2", "3/4");
    }

    footer {
        @include grid-placement("1/2", "4/5");
    }
}

@media only screen and (min-width: 680px) {
    #main-grid {
        grid-template-columns: 1fr 3fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        header {
            @include grid-placement("1/4", "1/2");
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: auto;

            #search-area {
                @include grid-placement("1/2", "1/2");
            }
        
            #nav-menu {
                @include grid-placement("2/3", "1/2");
            }
        
            #nav-icons {
                @include grid-placement("3/4", "1/2");
            }
        }

        #main-index, #main-product {
            @include grid-placement("1/4", "2/3");
        }

        #main-checkout {
            @include grid-placement("2/3", "2/3");
        }

        main {
            .form-table {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(4, auto);

                #form-id-0 {
                    @include grid-placement("1/3", "1/2");
                }

                #form-id-1 {
                    @include grid-placement("1/2", "2/3");
                }

                #form-id-2 {
                    @include grid-placement("2/3", "2/3");
                }

                #form-id-3 {
                    @include grid-placement("1/3", "3/4");
                }

                #form-id-4 {
                    @include grid-placement("1/2", "4/5");
                }

                #form-id-5 {
                    @include grid-placement("2/3", "4/5");
                }
            }

            .form-table-payment {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(7, auto);
    
                #ftp-id-1 {
                    @include grid-placement("1/3", "1/2");
                }
    
                #ftp-id-2 {
                    @include grid-placement("1/3", "2/3");
                }
    
                #ftp-id-3 {
                    @include grid-placement("1/2", "3/4");
                }
    
                #ftp-id-4 {
                    @include grid-placement("2/3", "3/4");
                }
    
                #ftp-id-5 {
                    @include grid-placement("1/3", "4/5");
                }
    
                #ftp-id-6 {
                    @include grid-placement("1/3", "5/6");
                }
    
                #ftp-id-7 {
                    @include grid-placement("1/3", "6/7");
                }
    
                #ftp-id-8 {
                    @include grid-placement("1/3", "7/8");
                }
            }

            #category-grid{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(5, 1fr);
                grid-template-areas: 
                    "cat1 cat1 cat1 cat2 cat2 cat2"
                    "cat1 cat1 cat1 cat2 cat2 cat2"
                    "cat1 cat1 cat1 cat2 cat2 cat2"
                    "cat4 cat4 cat3 cat3 cat5 cat5"
                    "cat4 cat4 cat3 cat3 cat5 cat5";

                #category-1 {
                    grid-area: cat1;
                }
    
                #category-2 {
                    grid-area: cat2;
                }
    
                #category-3 {
                    grid-area: cat3;
                }
    
                #category-4 {
                    grid-area: cat4;
                }
    
                #category-5 {
                    grid-area: cat5;
                }
            }
        }

        aside {
            @include grid-placement("1/4", "3/4");
        }

        footer {
            @include grid-placement("1/4", "4/5");
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: auto auto;

            #footer-start {
                @include grid-placement("1/4", "1/2");
            }

            #contact {
                @include grid-placement("1/2", "2/3");
            }

            #shortcuts {
                @include grid-placement("2/3", "2/3");
            }

            #social-media {
                @include grid-placement("3/4", "2/3");
            }
        } 
    }

    @media only screen and (min-width: 841px) {
        #main-grid {
            footer {
                @include grid-placement("1/4", "4/5");
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto;

                #footer-start {
                    @include grid-placement("1/4", "1/2");
                }

                #contact {
                    @include grid-placement("1/2", "2/3");
                }

                #shortcuts {
                    @include grid-placement("2/3", "2/3");
                }

                #social-media {
                    @include grid-placement("3/4", "2/3");
                }

                #shortcuts {
                    align-content: center;
                }
            }
        }
    }

    @media only screen and (min-width: 900px) {
        #main-grid {
            main {
                #category-grid{
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    grid-template-areas: 
                        "cat1 cat1 cat2 cat2 cat3 cat3"
                        "cat1 cat1 cat2 cat2 cat3 cat3"
                        "cat4 cat4 cat4 cat4 cat3 cat3"
                        "cat4 cat4 cat4 cat4 cat5 cat5"
                        "cat4 cat4 cat4 cat4 cat5 cat5";

                    #category-1 {
                        grid-area: cat1;
                    }
        
                    #category-2 {
                        grid-area: cat2;
                    }
        
                    #category-3 {
                        grid-area: cat3;
                    }
        
                    #category-4 {
                        grid-area: cat4;
                    }
        
                    #category-5 {
                        grid-area: cat5;
                    }
                }
            }
        }
        
    }
}

