@use 'fonts' as *;
@use 'layout' as *;

body{
    font-family: $mainFont;
    gap: 1rem;
    margin: 0 15px;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
    text-align: right;
    margin: 1rem;
    gap: 1rem;
    padding: 30px;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}

#popular-products, #popular-categories, #reviews{
    h2{
        width: 100%;
        margin-bottom: 5px;
        margin-top: 2rem;
    }
    p {
        margin-top: 0;
        width: 100%;
    }
}

#contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.search-area{
    position: relative;
    justify-content: center;
    align-items: center;
}

.search-area i {
    position: absolute;
    right: 5%;
    height: 100%;
    display: flex;
    align-items: center;
}

.search-area input {
    height: 30px;
    padding-right: 30px;
    width: 100%;
    border-radius: 15px;
    border-color: #000; 
    border-style: solid;
    border-width: 0.5px;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    padding: 0;
}

.header-nav a{
    text-decoration: none;
    color: #000;
}

.header-nav li{
    list-style: none;
}

.nav-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    gap: 0.5rem;
}

.nav-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    gap: 0.5rem;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}

.btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: rgb(247, 247, 247);
    padding: 1rem 1rem;
    width: 170px;
}
    
.flex-space{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 1rem;
}

.product-btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: white;
    padding: 1rem 3rem;
    border-color: #000;
    border-style: solid;
    border-width: 0.5px;
}

.product-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    padding: 1rem;

    img {
        width: 100%;
        max-width: 100%;
    }
}

.category-container{
    display: flex;
    width: 100%;
    height: 300px;
    border-style: solid;
    border-color: #000;
    border-width: 0.5px;
    justify-content: center;
    align-items: center;
}

.review-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    img{
        height: 100px;
        width: 100px;
    }
}

.contact-line{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.shortcuts{  
    display: flex; 
    justify-content: start;
    ul{
        list-style: none;
        
    }
    a{
        text-decoration: none;
        color: #000;
    }
}

@media only screen and (max-width: 525px) {
    .product-btn{
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 680px) {
    .flex-space{
        flex-direction: row;
    }

    .product-sort {
        justify-content: start;
        padding: 5px;
        gap: 1rem;
        width: 100%;
    }
}