@use 'fonts' as *;
@use 'layout' as *;


body{
    font-family: $mainFont;
    margin: 0px 15px;
}

h2 {
    margin-bottom: 1rem;
} 

h3, h4 {
    margin: 0 0 0.5rem;
}

h4 {
    font-weight: normal;
}

h5 {
    font-size: 19px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

header a{
    text-decoration: none;
    color: #000;
    margin: 0;
}

header li{
    list-style: none;
    margin: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

footer section {
    margin-bottom: 20px;
}

address {
    font-style: normal;
}

main section{
    margin-bottom: 2.5rem;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
    text-align: right;
    margin: 1rem;
    gap: 1rem;
    padding: 30px;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}

#banner a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: rgb(247, 247, 247);
    padding: 1rem;
}

#popular-products, #popular-categories, #reviews{
    gap: 1rem;
    
    h2{
        width: 100%;
        margin-bottom: 5px;
        margin-top: 2rem;
    }
    p {
        margin-top: 0;
        width: 100%;
    }

    width: 100%;
}

#popular-categories {
    gap: 4px;
    max-width: 100%;
}

#contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

#shortcuts{  
    display: flex; 
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.2rem;
    a{
        text-decoration: none;
        color: #000;
        padding: 5px;
    }
}

#social-media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    ul{
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 10px;
        }
    }
}

#product-display{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    max-width: 400px;
    min-width: 200px;
    margin: auto;
    gap: 0.3rem;
    
    img{
        display: block;
        width: auto;
        margin: 0 auto;
        max-height: 400px;
    }

    h2, p{
        margin: 7px 0;
    }

    a {
        color: rgb(87, 85, 85);
    }
}


#similar-products-display{
    margin: 20px;
}

#information-page {
    gap: 1rem;
}

#delivery-page {
    form ul {
        list-style: none;
        padding: 0;
    }

    form ul li {
        margin-bottom: 2rem;
        font-weight: bold;
    }
}

#form-newsletter {
    display: flex;
    flex-direction: column;
}

// https://stackoverflow.com/questions/15314407/how-to-add-button-inside-an-input
#search-area{
    display:flex;
    flex-direction:row;
    margin: 20px;
    height: 22px;
    padding: 6px;
    width: 200px;
    border-radius: 22px;
    border-color: #000; 
    border-style: solid;
    border-width: 0.7px;
}

#search-area button {
    background: none;
    border: none;
}

#search-area input {
    border-style: none;
    width: 100%;
}

#search-area input:focus {
    outline: none;
}


#nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 0.5rem;
    margin: 0;
}

#nav-menu a {
    padding: 6px;
}


#nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#nav-icons li a {
    padding: 4px;
}

#reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 0.5rem;
}


.btn {
    display: inline-block;
    background-color: #2e2c2c;
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    box-sizing: border-box;
}
    
.flex-space{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-space .btn {
    align-self: flex-start;
    width: auto;
}

.product-sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 1rem;
}

.product-btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: white;
    padding: 1rem 3rem;
    border-color: #000;
    border-style: solid;
    border-width: 0.5px;
}

.product-container, .cart-product{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    max-width: 350px;
    min-width: 200px;
    margin: 0 1rem;
    gap: 1rem;

    img{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

.cart-product h3 {
    margin: 10px 0 0;
}

.category-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 386px;
    height: 300px;
    border-style: solid;
    border-color: #000;
    border-width: 0.5px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    background-size: cover;
    h3 {
        border: 1px solid rgb(51, 51, 51);
        padding: 5px;
        background-color: rgb(51, 51, 51);
    }
}

.category-1 {
    /*Image by <a href="https://pixabay.com/users/lalmch-1026205/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=767781">Lalmch</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=767781">Pixabay</a>*/
    background-image: url("../img/categories/category1.jpg");
}

.category-2 {
    /*Image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1868496">Pexels</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1868496">Pixabay</a>*/
    background-image: url("../img/categories/category2.jpg");
}

.category-3 {
    /*Image by <a href="https://pixabay.com/users/jeshoots-com-264599/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=410324">Jan Vašek</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=410324">Pixabay</a>*/
    background-image: url("../img/categories/category3.jpg");
}

.category-4 {
    /*Image by <a href="https://pixabay.com/users/wikimediaimages-1185597/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2202637">WikimediaImages</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2202637">Pixabay</a>*/
    background-image: url("../img/categories/category4.jpg");
    background-position: center;
    max-width: 864px;
}

.category-5 {
    /*Image by <a href="https://pixabay.com/users/freephotocc-2275370/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280538">Free Photos</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280538">Pixabay</a>*/
    background-image: url("../img/categories/category5.jpg");
    background-position: right;
    max-width: 300px;
}

.review-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 289px;
    gap: 1rem;

    img{
        height: 150px;
        width: 150px;
    }
}

.contact-line{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;

    i {
        width: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.breadcrumbs{
    width: 100%;
}

.breadcrumbs ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1rem 0.1rem;
    gap: 0.5rem;
}

.breadcrumbs ul li a{
    text-decoration: none;
    color:#000;
}

.breadcrumbs ul li a:hover{
    text-decoration: underline;
}

.product-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
    gap: 0.5rem;
}

.similar-product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.similar-product img{
    max-width: 450px;
    min-width: 200px;
    height: auto;
    width: 100%;
}

.similar-product h2{
    width: 50%;
}

.similar-product p {
    width: 50%;
    align-content: center;
    text-align: end;
}

.form-table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 0 30px auto;
    width: 100%;
    max-width: 100%;

    a {
        margin: 5px 0;
    }
}

.form-table input {
    width: 100%;
    padding: 20px;
    margin: 3px 0 10px 0;
    box-sizing: border-box;
    font-size: 16px;
}

@media only screen and (max-width: 525px) {
    .product-btn{
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 680px) {
    #search-area {
        width: auto;
        max-width: 200px;
    }

    #nav-menu {
        flex-direction: row;
        margin: 0 auto;
    }

    #contact {
        align-content: start;
    }

    #shortcuts {
       align-content: center;
    }

    #social-media {
        align-content: end;
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    #reviews {
        flex-direction: row;
    }

    .flex-space{
        flex-direction: row;
    }

    .product-sort {
        justify-content: start;
        padding: 5px;
        gap: 1rem;
        width: 100%;
    }
}