@use 'fonts' as *;
@use 'layout' as *;


body{
    font-family: $mainFont;
    margin: 0 15px;
}

h2 {
    margin-bottom: 1rem;
} 

h3, h4 {
    margin: 0 0 0.5rem;
}

h4 {
    font-weight: normal;
}

h5 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: #000;
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        text-align: center;
    }
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

footer section {
    margin-bottom: 20px;
}

address {
    font-style: normal;
}

main section{
    margin-bottom: 2.5rem;
}

#main-checkout {
    h1 {
        text-align: center;
    }

    h2 {
        font-size: 28px;
    }
}

#logo {
    font-size: 2rem;
    font-weight: bold;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(189, 189, 189);
    text-align: right;
    margin: 1rem;
    gap: 1rem;
    padding: 30px;
    justify-content: flex-end;
    align-items: flex-end;
}

#banner a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: rgb(247, 247, 247);
    padding: 1rem;
}

#popular-products, #popular-categories, #reviews, #similar-products-display{
    gap: 1rem;
    
    h2{
        width: 100%;
        margin-bottom: 5px;
        margin-top: 2rem;
        font-size: 32px;
    }
    p {
        margin-top: 0;
        width: 100%;
    }

    width: 100%;

    text-align: center;
}

#popular-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

#popular-categories {
    gap: 4px;
    width: 100%;
    align-items: center;
}

#contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
}

#shortcuts{  
    display: flex; 
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.2rem;
    a{
        text-decoration: none;
        color: #000;
        padding: 5px;
    }
}

#social-media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    ul{
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 10px;
        }
    }
}

#product-display{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    
    img{
        display: inline-block;
        width: auto;
        max-height: 400px;
        max-width: 100%;
    }

    h2, p{
        margin: 7px 0;
    }

    a {
        color: rgb(87, 85, 85);
    }
}


#similar-products-display{
    width: 100%;

    a {
        text-decoration: none;
    }
}

#similar-products-display .product-container{
    min-width: 350px;
}

#information-page {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
    a {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;
    }
}

#delivery-form {
    width:  100%;
    form ul {
        list-style: none;
        padding: 0;
    }

    form ul li {
        position: relative;
        font-weight: bold;
        margin: 0 1rem 2rem;
    }

    h2 {
        text-align: start;
    }
    
    .gray-text {
        font-weight: bold;
        margin: 10px 0;
        color: rgb(97, 95, 95);
    }

    p {
        font-weight: normal;
    }

    .top-right {
        /* https://www.geeksforgeeks.org/how-to-position-a-fixed-element-in-the-top-right-corner-using-css/ */
        position: absolute;
        width: 70px;
        top: 0;
        right: 0;
        margin: 0;
    }
}

#form-newsletter {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

// https://stackoverflow.com/questions/15314407/how-to-add-button-inside-an-input
#search-area{
    display:flex;
    flex-direction:row;
    margin: 10px 0 0;
    height: 22px;
    padding: 6px;
    width: 200px;
    border-radius: 22px;
    border-color: #000; 
    border-style: solid;
    border-width: 0.7px;
}

#search-area button {
    background: none;
    border: none;
}

#search-area input {
    border-style: none;
    width: 100%;
}

#search-area input:focus {
    outline: none;
}


#nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 0.5rem;
    margin: 0;

    ul {
        padding: 0;
    }
    
    li{
        list-style: none;
        margin: 15px;
    }
}

#nav-menu a {
    padding: 6px;
}


#nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

#nav-icons ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

#nav-icons ul li{
    list-style: none;
}

#nav-icons li a {
    padding: 10px;
    font-size: 20px;
}

#reviews {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    p {
        margin-bottom: 0;
    }

    ul {
        margin-top: 0;
    }

    img {
        border-radius: 100%;
    }
}

#product-pictures {
    width: 100%;
    margin: 0;
    gap: 0.2rem;
    max-width: 700px;

    .secondary-pic{
        img {
            height: 100%;
            width: 100%;
        }
    }
}

#product-main-pic {
    margin: 0;
    padding: 0;
    max-width: 480px;
    img {
        height: 100%;
        width: 100%;
    }
}

#shopping-cart {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    max-width: 95%;

    h2 {
        width: 100%;
    }
}

#product-info-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.3rem;
}

#payment-section {
    h2 {
        text-align: start;
    }

    h3 {
        margin-top: 20px;
    }
}

.bold-text {
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #2e2c2c;
    color: white;
    padding: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    
}

.block-btn {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    box-sizing: border-box;
    max-width: fit-content;
    max-height: fit-content;
}
    
.flex-space{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-space .btn {
    align-self: flex-start;
    width: auto;
}

.product-sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.product-btn {
    display: inline-block;
    color: #000;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
    border-radius: 31px;
    border-color: #8f8585;
}

.product-btn:hover {
    color: #ddd9d9;
    background-color: #2e2c2c;
}

.product-container, .cart-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 1rem;

    text-decoration: none;
    color: #000;

    picture{
        display: block;
        max-width: 350px;
        max-height: 450px;
    }

    img {
        object-fit: cover;
        width: 100%;
        max-width: 350px;
        max-height: 450px;
        height: auto;
        border-radius: 15px;
    }
}

.product-container {
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
    justify-content: space-between;
    h3 {
        text-align: start;
        
    }

    h4 {
        text-align: end;
        max-width: fit-content;
    }

    h3, h4 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    ul li {
        font-size: 1rem;
    }
}

.cart-product {
    flex-direction: column;
    align-items: left;
    
    input {
        max-width: 40px;
        padding: 5px;
    }
}

.cart-product h3 {
    margin: 10px 0 0;
}

.cart-info {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;

    p {
        margin: 1px 0;
    }
}

.category-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 386px;
    height: 300px;
    border-style: solid;
    border-color: #000;
    border-width: 0.5px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    background-size: cover;
    h3 {
        border: 1px solid rgb(51, 51, 51);
        padding: 5px;
        background-color: rgb(51, 51, 51);
    }
}

#category-1 {
    /*Image by <a href="https://pixabay.com/users/lalmch-1026205/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=767781">Lalmch</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=767781">Pixabay</a>*/
    background-image: url("../img/categories/category1.jpg");
}

#category-2 {
    /*Image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1868496">Pexels</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1868496">Pixabay</a>*/
    background-image: url("../img/categories/category2.jpg");
}

#category-3 {
    /*Image by <a href="https://pixabay.com/users/jeshoots-com-264599/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=410324">Jan Vašek</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=410324">Pixabay</a>*/
    background-image: url("../img/categories/category3.jpg");
}

#category-4 {
    /*Image by <a href="https://pixabay.com/users/wikimediaimages-1185597/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2202637">WikimediaImages</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2202637">Pixabay</a>*/
    background-image: url("../img/categories/category4.jpg");
    background-position: center;
}

#category-5 {
    /*Image by <a href="https://pixabay.com/users/freephotocc-2275370/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280538">Free Photos</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1280538">Pixabay</a>*/
    background-image: url("../img/categories/category5.jpg");
    background-position: right;
}

.review-container{
    display: flex;
    flex-direction: column;
    max-width: 289px;
    min-width: 289px;
    max-height: 594px;
    gap: 1rem;

    img{
        height: 150px;
        width: 150px;
        /*https://stackoverflow.com/questions/2623603/crop-an-image-instead-of-stretching-it*/
        object-fit: cover;
    }
}

.contact-line{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;

    i {
        width: 20px;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.breadcrumbs{
    width: 100%;
}

.breadcrumbs ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1rem 0.1rem;
    gap: 0.5rem;
}

.breadcrumbs ul li a{
    text-decoration: none;
    color:#000;
}

.breadcrumbs ul li a:hover{
    text-decoration: underline;
}

#product-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    gap: 0.5rem;
    max-width: 440px;
    width: 100%;
    align-self: center;

    h2, a, p {
        width: 100%;
    }

    .btn {
        flex-grow: 1;
    }
}

.similar-product{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.similar-product img{
    max-width: 450px;
    min-width: 200px;
    height: auto;
    width: 100%;
}

.similar-product h2{
    width: 50%;
}

.similar-product p {
    width: 50%;
    align-content: center;
    text-align: end;
}

.form-table, .form-table-payment, .form-table-extra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 100%;
    gap: 1rem;

    .btn {
        width: 100%;
        text-align: center;
    }

    a{
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

.form-table input, .form-table-payment input, .form-table-extra input{
    width: 100%;
    padding: 20px;
    margin: 3px 0 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}

.form-table-payment {
    #ftp-id-5, #ftp-id-6, #ftp-id-7, #ftp-id-8 {
        text-align: center;
    }

    #ftp-id-6 {
        margin: 0;
        font-size: 26px;
        font-weight: 900;
    }
}

.product-reviews {
    display: flex;
    flex-direction: column;
    
    ul {
        padding: 0;
    }
    ul li {
        list-style: none;
        display: inline-block;
        font-weight: bold;
        font-size: 1rem;
    }
}

.secondary-pic {
    max-width: 160px;
}

.dropdown-menu {
    width: 100%;
    padding: 10px;
}

.dropdown-menu-small{
    width: fit-content;
    padding: 5px;
}

.shoppingbag-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem 0;
    align-items: center;
}

.shoppingbag-icons {
    display: flex;
    flex-direction: row;

    a {
        text-decoration: none;
        color: #000;
        font-size: large;
        padding: 0.5rem;
    } 
}

.scroll-area {
    display: flex;
    flex-direction: row;
    /* https://stackoverflow.com/questions/9707397/making-a-div-vertically-scrollable-using-css */
    overflow-x: auto;
    gap: 4rem;
    max-width: 90vw; 
}

@media only screen and (max-width: 525px) {
    
}

@media only screen and (min-width: 680px) {
    body{
        margin: 0px 15px;
    }

    #search-area {
        margin: 0 auto;
    }

    #nav-menu {
        flex-direction: row;
        margin: 0 auto;
    }
    
    main {
        margin: 0;
    }

    #search-area {
        width: auto;
        max-width: 200px;
    }

    #nav-icons {
        ul li {
            display: inline-block;
            
        }
    }

    #contact {
        align-content: start;
    }

    #shortcuts {
       align-content: center;
    }

    #social-media {
        align-content: end;
        
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    #product-pictures {
        width: 40%;
        margin: 0;
        gap: 0.2rem;
    }

    #product-display {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    #product-info {
        width: 40%;
        margin: 0;
        margin-left: 40px;
    }


    .flex-space{
        flex-direction: row;
    }

    .product-sort {
        justify-content: start;
        padding: 5px;
        gap: 1rem;
        width: 100%;
    }

    #delivery-form{
        flex-direction: column;
    }

    #popular-categories {
        justify-content: center;
        
    }

    #category-4 {
        max-width: 864px;
    }

    #category-5 {
        max-width: 300px;
    }

    .cart-product {
        flex-direction: row;
        width: 100%;
    }

    .cart-product .cart-info {
        align-self: center;
    }


    .shoppingbag-icons {
        flex-direction: column;
    }

    .product-container {
        width: 30%;
    }

    .product-reviews {
        ul li {
            font-size: 0.9rem;
        }
    }

}

@media only screen and (min-width: 730px)   {
    #nav-menu ul li{
        display: inline-block;
        margin: auto;
        gap: 6px;
    }

    .product-reviews {
        ul li {
            font-size: 1rem;
        }
    }

    .scroll-area {
        max-width: 100%;
    }
}